.App {
  text-align: center;
}

/* Modo oscuro */
body.bg-dark {
  background-color: #121212 !important;
  color: white !important;
}

.bg-dark table {
  color: white;
}

.bg-dark .table-dark {
  background-color: #333 !important;
}

.bg-dark .card {
  background-color: #1e1e1e !important;
  color: white;
}

